html {
    background: url("../images/mine_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;

}

h1 {
    margin-right: auto;
    align-content: center;
    text-align: center;
    border: 3px solid darkred;
    padding: 10px;
    max-width: 40%;
    background-color: purple;
    font-weight: 900px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24pt;

}

.dwarfpic {
  float: left;
  width: 9em;
  height: 9em;
  position: relative;
  margin-right: 10px;
  margin-top: -20px;
  

}

.instructions {
  
  margin-right: auto;
  align-content: center;
  padding: 20px;
  max-width: 70%;
  background: bisque;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14pt;
  margin-bottom: 10px;
  position: relative;
  

}

.tally-container {
    display: flex;
    flex-wrap: wrap;

}

.target-number {
  width: 15%;
  height: 15vh;
  background: lightgreen;
  font-size: 20pt;
  align-content: center;
  padding: 10px;
  text-align: center;
  
  
  


}

.wins-loss-box {
  width: 8%;
  height: 15vh;
  background: deepskyblue;
  font-size: 12pt;
  align-content: center;
  padding: 10px;
  
  
    


}

#scoretext {
  padding: 10px;
}


.gem-bar {
    width: 60%;
    background-color:goldenrod;
    padding: 1vw;
    display: flex;  
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    
    
}

.button-style {
    margin: auto;
    padding: 1vw;
    background: transparent;
}


.score-bar{
   display: flex;
   width: 25%;
   background: #4ee4ee;
   height: 3vh;
   margin-bottom: 10px;
   margin-top: 10px;
   padding: 20px;
   font-size: 20pt;
   align-content: center;
   vertical-align: middle;
   
   
  
}

.player-number {
  display: flex;
  width: 25%;
  height: 12vh;
  background: #4ee4ee;
  padding: 20px;
  
  


}

#playerNumber{
  font-size: 50px;


}

#targetNumber{
  font-size: 50px;
  margin-top: 15px;

}




/* Media Queries */

@media screen and (max-width: 1200px){

  .gem-bar {
    width: 80%;
    background-color:goldenrod;
    padding: 1vw;
    display: flex;  
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    
    
}


.target-number {
  width: 35%;
  height: 15vh;
  background: lightgreen;
  font-size: 20pt;
  align-content: center;
  padding: 10px;
  text-align: center;
  
  
  


}

.wins-loss-box {
  width: 28%;
  height: 15vh;
  background: deepskyblue;
  font-size: 12pt;
  align-content: center;
  padding: 10px;
  
  
    


}







}


@media screen and (max-width: 1060px){

  .gem-bar {
    width: 80%;
    background-color:goldenrod;
    padding: 1vw;
    display: flex;  
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    
    
}


.target-number {
  width: 35%;
  height: 15vh;
  background: lightgreen;
  font-size: 20pt;
  align-content: center;
  padding: 10px;
  text-align: center;
  
  
  


}

.wins-loss-box {
  width: 28%;
  height: 15vh;
  background: deepskyblue;
  font-size: 12pt;
  align-content: center;
  padding: 10px;
  
  
    


}


.score-bar{
  display: flex;
  width: 50%;
  background: #4ee4ee;
  height: 3vh;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  font-size: 20pt;
  align-content: center;
  vertical-align: middle;
  
  
 
}


@media screen and (max-width: 840px){

  .gem-bar {
    width: 98%;
    background-color:goldenrod;
    padding: 1vw;
    display: flex;  
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    
    
}


.target-number {
  width: 35%;
  height: 12vh;
  background: lightgreen;
  font-size: 20pt;
  align-content: center;
  padding: 10px;
  text-align: center;
  
  
  


}

.wins-loss-box {
  width: 28%;
  height: 12vh;
  background: deepskyblue;
  font-size: 12pt;
  align-content: center;
  padding: 10px;
  
  
    


}


.score-bar{
  display: flex;
  width: 50%;
  background: #4ee4ee;
  height: 3vh;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  font-size: 20pt;
  align-content: center;
  vertical-align: middle;
  
  
 
}



@media screen and (max-width: 768px){

  .gem-bar {
    width: 98%;
    background-color:goldenrod;
    padding: 1vw;
    display: flex;  
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    
    
}


.target-number {
  width: 50%;
  height: 10vh;
  background: lightgreen;
  font-size: 20pt;
  align-content: center;
  padding: 10px;
  text-align: center;
  
  
  


}

.wins-loss-box {
  width: 42%;
  height: 10vh;
  background: deepskyblue;
  font-size: 12pt;
  align-content: center;
  padding: 10px;


}


#scoretext {
 margin-top: -12px;

}


.score-bar{
  display: flex;
  width: 50%;
  background: #4ee4ee;
  height: 3vh;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  font-size: 20pt;
  align-content: center;
  vertical-align: middle;
  
  
 
}


.instructions {
  
  margin-right: auto;
  align-content: center;
  padding: 20px;
  max-width: 100%;
  background: bisque;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14pt;
  margin-bottom: 10px;
  position: relative;
  

}



}

@media screen and (max-width: 680px){
 
  .player-number {
    display: flex;
    width: 50%;
    height: 12vh;
    background: #4ee4ee;
    padding: 20px;
    
    
  
  
  }

 button {
  width: 120px;
  height: 120px;
  

 }

img.gemimage{width: 100px; height: 100px; };


}

@media screen and (max-width: 560px){

  h1{
    max-width: 100%;
    padding: 5px;
  }

  .instructions {
    font-size: 12pt;


  }


  @media screen and (max-width: 540px){


    .target-number{
      width: 100%;
      font-size: 14pt;
      height: 50px;

    }

    #targetNumber{
      font-size: 18pt;

    }


    .wins-loss-box {
      width: 100%;

    }

    #scoretext {
      width: 100%;

    }


    .score-bar{
      width: 85%;
      font-size: 14pt;
      height: 20px;
      padding: 2px;
    }

    .player-number{
      width: 77.5%;
      
    }




  }



}